@charset "UTF-8";

/*++++++++++++++++++++++++++++++++++++++++++++++*/
/* blog style                                   */
/*++++++++++++++++++++++++++++++++++++++++++++++*/




	
#feed {
	width: 400px;
	height: 160px;
	margin: 0;
	overflow-y: scroll;
	font-size:12px;
	}
#feed ul li {
	line-height:1.8em;
	margin:0 0 10px -40px;
	padding-bottom:10px;
	list-style: none;
	border-width: 0 0 1px 0;
	border-bottom: dotted;
	border-color: #cccccc;
	}
#feed ul li p.wp {
	font-weight:bold;
	margin-bottom:6px;
	}
#feed ul li div {
	float:left;
	margin-right:8px;
	}
#feed ul li p.day {
	text-align:right;
	margin:6px 6px 0 0;
	}
